@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f6f5fa;
}

.scale-primary {
  animation: scalePrimary 4s ease-in-out infinite;
}

.scale-secondary {
  animation: scaleSecondary 4s ease-in-out infinite;
}

@keyframes scalePrimary {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

@keyframes scaleSecondary {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

/* https://claude.ai/chat/298ec0a0-865b-4022-8825-b16bf6e76548 */
/* .card::before { */
/*   content: ''; */
/*   position: absolute; */
/*   inset: 0; /1* Same as top: 0; right: 0; bottom: 0; left: 0 *1/ */
/*   border-radius: 32px; */
/*   padding: 1px; /1* This creates the border width *1/ */
/*   background: linear-gradient( */
/*     135deg, */
/*     rgba(255, 255, 255, 0) 0, */
/*     rgba(255, 255, 255, 0) 16px, */
/*     /1* Start transparent until 16px *1/ rgba(255, 255, 255, 0.6) 16px, */
/*     rgba(255, 255, 255, 0.2) 50%, */
/*     rgba(255, 255, 255, 0.6) calc(100% - 16px), */
/*     rgba(255, 255, 255, 0) calc(100% - 16px), */
/*     /1* Go back to transparent 16px from end *1/ rgba(255, 255, 255, 0) 100% */
/*   ); */
/*   -webkit-mask: */
/*     linear-gradient(#fff 0 0) content-box, */
/*     linear-gradient(#fff 0 0); */
/*   -webkit-mask-composite: xor; */
/*   mask-composite: exclude; */
/*   pointer-events: none; /1* So it doesn't interfere with card interactions *1/ */
/* } */

.gradient-text {
  background: linear-gradient(
    90deg,
    #dcff1e 6.5%,
    #ff6e00 35.5%,
    #e6d2ff 62.5%,
    #96c8ff 91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
}
